@()

@defining(play.core.PlayVersion.current) { version =>

    <html>

        <title>Reply Tweets Deck.GL</title>
        <meta name='viewport' />

        <style type="text/css">
                body {
                    margin: 0;
                }
                #container {
                    width: 100%;
                    height: 100%;
                }
                #search{
                    left:500px;
                    top:50px;
                    position:absolute;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                    left : 100px;
                    top : 70px;
                }

                .dropbtn {
                    background-color: #4CAF50;
                    color: white;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    width : 120px;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                .dropdown-content a:hover {background-color: #ddd;}

                .dropdown:hover .dropdown-content {display: block;}

                .dropdown:hover .dropbtn {background-color: #3e8e41;}

        </style>

        <body>
@*            html hover dropdown*@
            <div class="dropdown">
                <button class="dropbtn">LAYOUT</button>
                <div class="dropdown-content">
                    <a id=ForceAtlas2 href="#">ForceAtlas2</a>
                    <a id=Noverlap href="#">Noverlap</a>
                </div>
            </div>

<!--
           <div class = "dropdown">
                <button class="dropbtn"> LAYOUT </button>
                <div class="dropdown-content">
                    <button id="ForceAtlas2">ForceAtlas2</button>
                    <button id="Noverlap">Noverlap</button>
                </div>
            </div>

            <div class = "dropDownDiv">
                <button onclick="show_hide()" class="dropDownButton"> LAYOUT </button>
               <div style="display:none;" id="drop-content">
                    <button id="ForceAtlas2">ForceAtlas2</button>
                    <button id="Noverlap">Noverlap</button>
                </div>
            </div>
-->

            <div id="graph-container" style="width: 1000px; height: 800px;">
            </div>

            <div id="map" style="width:100vw; height: 100vh"></div>
            <div id = "search">
                <p id="content">Reply Tweets Dataset</p>

                <!-- input box -> query -->
                <input type="text" class="div" id="query"
                placeholder="Type a keyword.">
                <button onclick="requestHttp()">submit</button>
            </div>
        </body>

        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/sigma.core.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/conrad.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/utils/sigma.utils.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/utils/sigma.polyfills.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/sigma.settings.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/classes/sigma.classes.dispatcher.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/classes/sigma.classes.configurable.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/classes/sigma.classes.graph.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/classes/sigma.classes.camera.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/classes/sigma.classes.quad.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/classes/sigma.classes.edgequad.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/captors/sigma.captors.mouse.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/captors/sigma.captors.touch.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/sigma.renderers.canvas.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/sigma.renderers.webgl.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/sigma.renderers.svg.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/sigma.renderers.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/webgl/sigma.webgl.edges.thickLine.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/webgl/sigma.webgl.edges.thickLineCPU.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/webgl/sigma.webgl.edges.thickLineGPU.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/middlewares/sigma.middlewares.rescale.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/middlewares/sigma.middlewares.copy.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/misc/sigma.misc.animation.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/misc/sigma.misc.bindEvents.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/misc/sigma.misc.bindDOMEvents.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/misc/sigma.misc.drawHovers.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/svg/sigma.svg.utils.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/svg/sigma.svg.nodes.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/svg/sigma.svg.edges.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/svg/sigma.svg.edges.curve.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/svg/sigma.svg.labels.def.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/src/renderers/svg/sigma.svg.hovers.def.js"></script>
            <!-- Sigma plugins -->
        @*      copied ---- end ----*@

        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/plugins/sigma.layout.noverlap/sigma.layout.noverlap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/plugins/sigma.plugins.animate/sigma.plugins.animate.js"></script>

        @*        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/plugins/sigma.layout.forceAtlas2/supervisor.js"></script>*@
        @*        <script src="https://cdn.jsdelivr.net/npm/sigma@@1.2.1/plugins/sigma.layout.forceAtlas2/worker.js"></script>*@
        @*        <script src="/assets/javascripts/sigma.min.js"></script>*@

        <script src="/assets/javascripts/deckgl.min.js"></script>
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

        <script>
                title_list  =[]
                to_list=[]

                global_nodes_title = [] // store ids(titles) of added nodes
                //var global_edges = []

                //drop-down list
                function show_hide(){
                    var click = document.getElementById("drop-content");
                    if(click.style.display === "none") {
                        click.style.display = "block";
                    }
                    else {
                        click.style.display = "none";
                    }
                }

                function requestHttp() {
                    query = document.getElementById("query").value;
                    console.log("query = " + query);

                    var request = new XMLHttpRequest();
                    request.open('GET', 'http://localhost:9000/test2?query=' + query, false);
                    request.send(null);

                    if (request.status === 200) {
                        var data = JSON.parse(request.responseText); // a result of request
                        var title_list_ = data.title_list;
                        var title_list_len = title_list_.length;

                        title_list_ = title_list_.substring(1, title_list_len - 1);
                        title_list = title_list_.split(',');

                        //to_list
                        var to_list_ = data.to_list; // [ㅁ,ㅁ],,[ㅁ],,[ㅁ,ㅁ,ㅁ],,
                        var list_list = to_list_.split(",,"); // a list which contains lists

                        // list_list to a real double_list
                        for (var i = 0; i < list_list.length; i++) {
                            var list = list_list[i];
                            list = list.substring(1, list.length - 1);
                            tmp_list = list.split(','); //string to list
                            to_list.push(tmp_list);
                        }

                        drawGraph();
                    } else {
                        console.log("response error");
                    }
                }

                function drawGraph(){
                    var g = {
                        nodes: [],
                        edges: []
                    };

                    var title_list_cnt = title_list.length;
                    global_edges = 0;

                    //push a node to a graph object
                    for (var idx=0; idx<title_list_cnt; idx++) {
                        g.nodes.push({
                            //s.graph.addNode({
                            id: title_list[idx],
                            label: title_list[idx],
                            x: Math.random(),
                            y: Math.random(),
                            size: 1,
                            color: '#f00'
                        });

                        global_nodes_title.push(title_list[idx]);
                    }

                    // connect edges
                    for (var i=0; i<title_list_cnt; i++){
                        for (var j=0; j<to_list[i].length; j++){
                            if(global_nodes_title.includes(to_list[i][j])===false){
                                // first, make a node
                                g.nodes.push({
                                    //s.graph.addNode({
                                    id: to_list[i][j],
                                    label: to_list[i][j],
                                    x: Math.random(),
                                    y: Math.random(),
                                    size: 1,
                                    color: '#f00'
                                });

                                // mark that node is made
                                global_nodes_title.push(to_list[i][j]);

                                //connect edges
                                g.edges.push({
                                    id : global_edges,
                                    source: title_list[i],
                                    target: to_list[i][j],
                                    size: 3,
                                    color: '#00f',
                                    type:'arrow'
                                });
                            }

                            // if it is an exist node
                            else{
                                g.edges.push({
                                    id : global_edges,
                                    source: title_list[i],
                                    target: to_list[i][j],
                                    size: 3,
                                    color: '#00f',
                                    type:'arrow'
                                });
                            }

                            global_edges += 1;
                        }
                    }

                    var s = new sigma({
                        graph: g,
                        //container: 'graph-container',
                        renderer: {
                            container: document.getElementById('graph-container'),
                            type: 'WebGL'
                            //type: 'canvas'
                        },
                        settings: { // change the size of the node depending on the number of data
                            minNodeSize: 8, // node label is shown if it is bigger than 7
                            maxNodeSize: 8, // node label is shown if it is bigger than 7
                            maxEdgeSize: 1, // 3 or 4
                            doubleClickEnabled: false,
                            arrowSizeRatio: 3
                            /*
                               each graph is formed based on center of circle
                               It seems to mean the degree of spreadability
                               If I set as 30, it goes out of the screen.
                               1 maybe vary.
                            */
                        }
                    });

                    // Configure the noverlap layout:
                    var noverlapListener = s.configNoverlap({
                        nodeMargin: 0.5, // the additional minimum space to apply around each and every node.
                        scaleNodes: 1.2, // larger nodes have more space around them if this multiplier > 0.
                        gridSize: 40, // The number of rows and columns to use when dividing the nodes up into cells which the algorithm is applied to. Use more rows and columns for larger graphs for a more efficient algorithm.
                        permittedExpansion : 1.1, // the maximum ratio to apply to the bounding box, i.e. the maximum by which the network is permitted to expand.
                        rendererIndex : 0, // The index of the renderer to use to compute overlap and collisions of the nodes.
                        speed : 2, // A larger value increases the speed with which the algorithm will convergence at the cost of precision.
                        maxIterations : 50, // The maximum number of iterations to run the algorithm for before stopping it.
                        easing: 'quadraticInOut', // animation transition function
                        duration: 5000   // animation duration. Long here for the purposes of this example only
                    });

                    // Bind the events:
                    noverlapListener.bind('start stop interpolate', function(e) {
                        console.log(e.type);
                        if(e.type === 'start') {
                            console.time('noverlap');
                        }
                        if(e.type === 'interpolate') {
                            console.timeEnd('noverlap');
                        }
                    });

                    // Start the layout:
                    s.startNoverlap();
                }
        </script>
    </html>
}}}


